<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017064912683-oclgj4quteqv2bs248gnjp2sceaok6ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017064912683-oclgj4quteqv2bs248gnjp2sceaok6ll</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OMgtzDhYCUPPpFFHk1YmKL9_GZOtnkA</string>
	<key>GCM_SENDER_ID</key>
	<string>1017064912683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokedexteam</string>
	<key>PROJECT_ID</key>
	<string>pokedexteam-86822</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedexteam-86822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017064912683:ios:4b98aeb4777b01cf3c776e</string>
</dict>
</plist>